* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Black.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Barlow', 'Arges', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  background: #101828;
}

h1 {
  font-family: 'Satoshi', 'Arges', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-md-5,
.col-md-6,
.col-md-7 {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

/*========== Button styling ==========*/
.btn {
  /* width: 100%; */
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
  color: #ffffff;
  border-radius: 8px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

/*========== Primary button styling ==========*/
.btn-primary {
  background: #4380f6;
  transition: background 300ms ease-in-out;
}

.btn-primary:hover {
  background: #3668c8;
}

.btn-primary:active {
  background: #294f9a;
}

/*========== Outline button styling ==========*/
.btn-outline {
  background-color: transparent;
  border: 2px solid white;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
  height: 58px;
}
.btn-outline:hover {
  background: #3668c8;
  border: 2px solid #3668c8;
}
.btn-outline:active {
  background: #294f9a;
  border: 2px solid #294f9a;
}

/*========== Navbar styling ==========*/
.main-nav {
  background: #101828;
  position: relative;
  z-index: 9999;
}

.main-nav .container {
  padding: 0;
}

.nav-wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-logo {
  width: 260px;
  max-width: 100%;
  height: 56px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items ul {
  display: flex;
  gap: 72px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-items ul li a {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 32px;
}

.menu-btn {
  background: #7dffaf;
  color: #010610;
  margin-left: 56px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
}

.menu-btn:hover {
  background: #329859;
  color: #f2fff7;
}

.humburger {
  display: none;
}

@media screen and (max-width: 1023px) {
  .nav-logo {
    width: 200px;
    height: auto;
  }

  .nav-items ul {
    gap: 40px;
  }

  .menu-btn {
    margin-left: 40px;
    font-size: 16px;
    padding: 11px 16px;
  }
}

@media screen and (max-width: 767px) {
  .nav-logo {
    width: 150px;
    height: auto;
  }

  .nav-wrapper {
    padding: 12px 20px;
  }

  .nav-items {
    padding: 0 20px;
    flex-direction: column;
    align-items: start;
    position: absolute;
    z-index: 10;
    top: 56px;
    left: 0;
    right: 0;
    width: 100%;
    background: #1b376c;
    transition: 0.3s;
    height: 0px;
    overflow: hidden;
  }

  .active .nav-items {
    height: 300px;
  }

  .humburger-close {
    display: none;
  }

  .active .humburger .humburger-open {
    display: none;
  }

  .active .humburger .humburger-close {
    display: block !important;
  }

  .nav-items ul {
    padding-top: 24px;
    flex-direction: column;
    align-items: start;
    gap: 18px;
    margin-bottom: 40px;
  }

  .humburger {
    display: block;
    cursor: pointer;
  }

  .menu-btn {
    margin: 0;
  }
}

/*========== Hero section styling ==========*/
.wlc-zeta {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #7dffaf;
  opacity: 0.7;
  padding: 8px 0;
  width: 209px;
  background: rgba(125, 255, 175, 0.15);
  border-radius: 8px;
  margin-bottom: 8px;
}

.hero-wrapper {
  background-color: #020711;
  padding-top: 64px;
  padding-bottom: 48px;
}

.hero-title {
  background: linear-gradient(91.25deg, #7dffaf -2.45%, #4e91f6 107.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}

.hero-desc {
  font-family: 'Barlow', sans-serif;
  padding: 16px 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.015em;
  opacity: 0.7;
}

.hero-right-img {
  display: none;
  justify-content: center;
  align-items: center;
}

.hero-right-img img {
  max-width: 100%;
}

.hero-btns {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*========== Reviews section styling ==========*/
.reviews-wrapper {
  background-color: #101828;
  padding: 72px 0;
}

.review-inner {
  display: flex;
  justify-content: space-between;
}

.review-left {
  max-width: 497px;
}

.review-left h3 {
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #fcfcfd;
}

.review-icons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.review-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #667085;
  border-radius: 50px;
  transition: all 0.3s;
}

.review-icon img {
  height: 25px;
  width: 29px;
}

.review-icon:hover {
  background: #8eb3fa;
  border: 1px solid #7dffaf;
}

.rating-number {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.rating-number p {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #c7d9fc;
}

.review-right {
  max-width: 687px;
}

.review-right h3 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fcfcfd;
}

.review-right-items {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-right-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-right-item p {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 26px;
  color: #c7d9fc;
}

.testimonial {
  margin-top: 72px;
}

.single-testimonial {
  background: #1d2939;
  border: 1px solid #344054;
  border-radius: 8px;
  position: relative;
}

.single-testimonial hr {
  border: 1px solid #344054;
}

.testimonial-content {
  padding: 24px 24px 16px 24px;
}

.single-testimonial-info {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.st-info-left p {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 27px;
  color: #c7d9fc;
}

.st-author-name {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #fcfcfd;
}

.st-author-position {
  margin-top: 8px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 22px;
  color: #c7d9fc;
}

.single-testimonial-text {
  margin-top: 8px;
  font-family: 'Open Sans';
  font-size: 24px;
  line-height: 34px;
  color: #fcfcfd;
  max-width: 800px;
}

.st-image {
  position: absolute;
  top: -12px;
  right: 24px;
}

.st-image img {
  width: 267px;
  height: 311px;
}

.multi-testimonials {
  margin-top: 40px;
  display: flex;
  gap: 28px;
}

.multi-testimonials-content {
  padding: 24px;
}

.multi-border {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    116.29deg,
    rgba(175, 202, 255, 0.6) -5.98%,
    rgba(67, 128, 246, 0.6) -5.97%,
    rgba(177, 255, 207, 0.48) 110.02%
  );
}

.multi-testimonial-info {
  padding: 24px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.multi-testimonial-text {
  margin-top: 8px;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 26px;
  color: #fcfcfd;
}

.multi-testimonials-card {
  max-width: 100%;
  background: #1d2939;
  border: 1px solid #344054;
  border-radius: 8px;
}

.multi-testimonial-info .info-inner {
  display: flex;
  align-items: center;
  gap: 16px;
}

.multi-testimonial-info .author-name {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #fcfcfd;
}

.multi-testimonial-info .author-position {
  margin-top: 8px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 22px;
  color: #c7d9fc;
}

.multi-testimonial-info .info-inner img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

/*========== Our marketing process section styling ==========*/
.marketing-wrapper {
  background: #1d2939;
  padding: 72px 0;
}

.marketing-wrapper .container {
  padding: 0;
}

.marketing-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.marketing-cards {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.marketing-card {
  width: 100%;
  background: #101828;
  border: 1px solid #475467;
  border-radius: 16px;
  padding: 32px;
}

.marketing-card img {
  width: 548px;
  max-width: 100%;
  border-radius: 8px;
  margin: 0 auto;
}

.marketing-card-content {
  margin-top: 32px;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #fcfcfd;
}

/*========== How works section styling ==========*/
.how-works-wrapper {
  background: #101828;
  padding-top: 72px;
}

.how-works-wrapper .container {
  padding: 0;
}

.how-works-heading {
  max-width: 545px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  color: #fcfcfd;
  margin: 0 auto;
}

.hw-items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 16px;
}

.hw-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.hw-item p {
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #f2f4f7;
}

.hw-bottom-card {
  width: 100%;
  margin-top: 64px;
  background: #1d2939;
  border-radius: 16px;
  padding: 64px 56px;
  background-image: url('/assets/images/hw-bg.png');
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -120px;
  position: relative;
}

.hw-bottom-card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hw-bottom-card-left {
  width: 800px;
}

.hw-bottom-card-left h2 {
  width: 535px;
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.hw-bottom-card-right {
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hw-card-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hw-card-item p {
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.hw-bottom-card-btns {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .how-works-wrapper {
    padding: 0 20px;
    padding-top: 24px;
  }

  .how-works-heading {
    font-family: 'DM Sans';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .hw-items {
    margin-top: 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .hw-item img {
    width: 32px;
    height: 32px;
  }

  .hw-item p {
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .hw-bottom-card-left {
    display: none;
  }

  .hw-bottom-card {
    padding: 24px 17px;
  }

  .hw-card-item {
    gap: 12px;
  }

  .hw-card-item svg {
    width: 24px;
  }

  .hw-card-item p {
    font-size: 18px;
    line-height: 32px;
  }
}

/*========== Timeline section styling ==========*/
.timeline-wrapper {
  padding-top: 156px;
  background: #010610;
}

.tl-mobile-inner {
  display: none;
}

@media screen and (max-width: 767px) {
  .tl-mobile-inner {
    display: block;
    padding: 0 20px;
  }

  .tl-mobile-inner h2 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .tl-mobile-cards {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .tl-mobile-card {
    background: #101828;
    border: 1px solid #344054;
    border-radius: 8px;
    padding: 24px;
  }

  .tl-mobile-card h4 {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #fafafa;
  }

  .tl-btn {
    margin-top: 8px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #7dffaf;
  }
}

/*========== Our process section styling ==========*/
.process-wrapper {
  background-color: #010610;
  padding: 64px 0;
}

.process-cards {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}

.process-card-content-first {
  padding: 0 15px;
}

.process-card {
  width: 612px;
  max-width: 100%;
  background: #101828;
  border: 1px solid #98a2b3;
  border-radius: 16px;
  padding: 32px 32px 40px 32px;
}

.process-card img {
  border-radius: 8px;
  max-width: 100%;
}

.process-card-content {
  margin-top: 32px;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #d0d5dd;
}

.process-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
}

.process-btn {
  margin-top: 24px;
  text-align: center;
}

.process-btn button {
  padding: 8px 76.5px;
}

.process-slider {
  display: none;
}

@media screen and (max-width: 767px) {
  .process-cards {
    display: none;
  }

  .process-slider {
    display: block;
    /* width: 100%; */
    /* position: relative; */
    /* overflow: hidden; */
  }

  .process-slider .process-card {
    /* width: 290px; */
  }
}

/*========== FAQ section styling ==========*/
.faq-wrapper {
  background-color: #010610;
  padding: 64px 0 72px;
}

.faq-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.faq-left {
  max-width: 318px;
}

.faq-left img {
  display: block;
  width: 82px;
  height: 82px;
  max-width: 100%;
}

.faq-left h2 {
  margin-top: 19px;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
}

.faq-left p {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.faq-accordion {
  width: 100%;
  max-width: 824px;
}

.faq-accordion-item {
  border: 1px solid #667085;
  border-radius: 16px;
  background-color: transparent;
  padding: 30px 24px;
  transition: 0.3s;
  margin-bottom: 24px;
}

.faq-accordion-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-accordion-btn.active {
  margin-bottom: 16px;
}

.faq-accordion-title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.faq-accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-accordion-body p {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 767px) {
  .faq-wrapper {
    padding: 16px 0;
  }

  .faq-inner {
    flex-direction: column;
    align-items: center;
  }

  .faq-left {
    text-align: center;
    max-width: 335px;
  }

  .faq-left img {
    display: none;
  }

  .faq-left h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .faq-left p {
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 22px;
  }

  .faq-accordion-title {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .faq-accordion-item {
    padding: 24px;
  }

  .faq-accordion-body p {
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 22px;
  }

  .faq-accordion-btn svg {
    min-width: 13.5px;
    height: 7.5px;
  }
}

/*========== Free booking section styling ==========*/
.booking-wrapper {
  background-color: #101828;
  padding: 96px 0;
}

.bg-eff-mob {
  display: none;
}

.booking-inner {
  background: #1d2939;
  border: 1px solid #475467;
  border-radius: 16px;
  padding: 42px;
  padding-bottom: 62px;
  background-image: url('/assets/images/booking-bg.png');
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
}

.booking-content h3 {
  font-family: 'font1';
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fcfcfd;
  margin-bottom: 8px;
}

.booking-content p {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 32px;
  color: #e4e7ec;
}

.booking-btns {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.booking-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.booking-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-img img {
  width: 175px;
  height: 175px;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .booking-wrapper .booking-inner .booking-content h3 {
    font-size: 28px;
  }
  .booking-content p {
    font-size: 16px;
    line-height: 26px;
  }

  .booking-btns button {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .booking-wrapper {
    background-color: inherit;
    padding: 40px 0;
  }
  .booking-wrapper .booking-inner .booking-content h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .booking-inner {
    background-image: none;
    position: relative;
    padding: 20px;
    padding-bottom: 24px;
    position: relative;
    overflow: hidden;
  }

  .booking-mb-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-image: url('/assets/images/booking-mb-bg.png');
    height: 134px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }

  .booking-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .booking-img {
    display: none;
  }
  .booking-content {
    text-align: center;
    position: relative;
    z-index: 99;
  }
  .booking-btns {
    margin-top: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .booking-btns button {
    padding: 12px 25px;
    font-size: 16px;
    line-height: 20px;
    width: 302px;
    height: 48px;
  }

  .bg-eff-mob {
    display: block;

    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: 9;
  }
  #utopia {
    margin-bottom: 0px !important;
  }
}

/*========== Newsletter section styling ==========*/
.Newsletter-wrapper {
  background-color: #010610;
  padding: 72px 0;
}

.newsletter-container {
  margin: 0 auto;
  max-width: 1040px;
  display: flex;
  gap: 49px;
  justify-content: space-between;
}

.newsletter-container h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.newsletter-input {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  min-width: 557px;
}

.newsletter-input input {
  padding: 16px 16px 16px 32px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 398px;
  outline: none;
  height: 56px;
}

.newsletter-input input::placeholder,
.newsletter-input input {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #98a2b3;
}

@media screen and (max-width: 1200px) {
  .newsletter-container {
    flex-direction: column;
    gap: 25px;
    max-width: 844px;
  }
}

@media screen and (max-width: 1023px) {
  .newsletter-container {
    max-width: 506px;
  }
}

@media screen and (max-width: 767px) {
  .Newsletter-wrapper {
    padding-top: 32px;
    padding-bottom: 24px;
    overflow: hidden;
  }
  .newsletter-container {
    gap: 16px;
    max-width: 335px;
  }
  .newsletter-container h2 {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .newsletter-input {
    gap: 8px;
  }
  .newsletter-input input {
    padding: 11px 16px;
    width: 236px;
    height: 40px;
  }
  .newsletter-input input::placeholder,
  .newsletter-input input {
    font-size: 12px;
    font-weight: 400;
  }
  .Newsletter-wrapper .newsletter-input button {
    padding: 11px 16px;
    width: 91px;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*========== Footer section styling ==========*/
.footer-wrapper {
  background-color: #1b376c;
  padding-top: 40px;
  padding-bottom: 16px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper .container {
  padding: 0;
}

.footer-logo {
  width: 260px;
  max-width: 100%;
}

.footer-social {
  margin-top: 32px;
  width: max-content;
  display: flex;
  gap: 32px;
}

.footer-social a {
  padding: 8px 16px;
  font-family: 'Open Sans';
  font-size: 18px;
}

.footer-menu {
  display: flex;
  gap: 48px;
  padding: 8px 16px;
  margin-bottom: 32px;
}

.footer-menu a {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 24px;
}

.copyright-text {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #fcfcfd;
}

.footer-mobile {
  display: none;
}

.copyright-mb-text {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    padding: 16px 0;
    padding-bottom: 16px;
  }

  .footer-wrapper .container {
    padding: 0 20px;
  }

  .footer-logo {
    width: 150px;
  }

  .footer-social {
    display: none;
  }

  .footer-menu {
    display: none;
  }

  .copyright-text {
    display: none;
  }

  .footer-mobile {
    margin-top: 16px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
  }

  .footer-mb-social,
  .footer-mb-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-mb-social a,
  .footer-mb-menu a {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  .copyright-mb-text {
    display: block;
    font-family: 'Nunito';
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #98a2b3;
    padding: 0 20px;
    margin-top: 40px;
  }
}

/*================ Responsive media queries =================*/
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1248px;
  }
}

@media screen and (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .hero-wrapper {
    padding-top: 84px;
    padding-bottom: 144px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 88px;
  }

  .hero-right-img {
    display: flex;
  }

  .hero-btns {
    margin-top: 16px;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .reviews-wrapper {
    padding: 24px 0;
  }

  .review-inner {
    flex-direction: column;
  }
}

/*=============================================
=            Contact Page            =
=============================================*/

#form-section {
  margin: 64px auto;
  display: flex;
  justify-content: center;
  max-width: 844px;
  gap: 24px;
}

#form-section .header-text {
  min-width: 294px;
}

#form-section .header-text h1 {
  font-size: 32px;
  font-weight: 700px;
  padding-bottom: 16px;
  color: #f9fafb;
}

#form-section .header-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #d0d5dd;
}

.contact-form {
  background-color: #1d2939;
  padding: 32px;
  border-radius: 8px;
  width: 506px;
}

.contact-form .field {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  color: #d0d5dd;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.contact-form .field input,
.contact-form textarea {
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid #344054;
  border-radius: 8px;
  padding: 15px 16px;
  color: #d0d5dd;
  font-size: 16px;
  width: 100%;
}
.contact-form textarea {
  resize: none;
  margin-top: 8px;
}

.contact-form .field input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Barlow', 'Arges', sans-serif;
  font-size: 16px;
  color: #475467;
}

.contact-form .button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.contact-form .button button {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  #form-section {
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: left;
    max-width: 506px;
  }
  #form-section .header-text {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #form-section {
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: left;
    max-width: 335px;
    margin: 32px auto;
  }
  #form-section .header-text {
    width: 100%;
  }
  .contact-form {
    max-width: 335px;
  }
  .contact-form label {
    font-size: 16px;
  }

  .contact-form .field input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 14px;
  }
  .contact-form .button button {
    padding: 12px;
    font-size: 16px;
  }
}

/*=====  End of Contact Page  ======*/

/*=============================================
=            Case Study Page            =
=============================================*/

#case-study {
  margin-top: 48px;

  position: relative;
}

/* .cs-container {
  max-width: 1248px;
  margin: 0 auto;
} */

@font-face {
  font-family: 'font1';
  src: url('./assets/Satoshi-Bold.otf');
  font-weight: 700;
}

#case-study #header h1 {
  font-size: 72px;
  font-family: 'font1';
  text-align: center;
  background: linear-gradient(91.25deg, #7dffaf -2.45%, #4e91f6 107.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 48px;
}

#case-study .gradiant-bg {
  position: absolute;
  z-index: 99;
  right: 0;
  top: -100px;
  width: 358px;
  height: 358px;
  background: rgba(122, 119, 255, 0.8);
  filter: blur(200.5px);
}

#case-study section {
  margin-left: 6.66%;
  margin-bottom: 100px;
}

#three {
  margin-bottom: 72px;
}

#ikiyoyo {
  margin-bottom: 72px;
}

#utopia {
  margin-bottom: 150px !important;
}

.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  max-width: 1248px;
  margin-bottom: 32px;
  margin-right: 20px;
}

.slider-header h2 {
  font-family: 'font1';
  font-weight: 700;
  font-size: 48px;
}

.slider-header .btn-live {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 44px;
  background: rgba(125, 255, 175, 0.1);
  border-radius: 8px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  color: #7dffaf;
  cursor: pointer;
}
.slider-header .btn-live:hover {
  color: rgb(81, 226, 136);
}

.slider-card {
  background: #101828;
  max-width: 400px;
  height: 500px;
  border: 1px solid #667085;
  border-radius: 16px;
  padding: 24px;
}

.slider-card .image img {
  width: 100%;
  height: 246px;
  border-radius: 8px;
}

.slider-card .content h4 {
  padding-top: 24px;
  padding-bottom: 18px;
  font-family: 'font1';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #d0d5dd;
}

.slider-card .content p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d5dd;
  padding-bottom: 5px;
}

.slider-card .content .btn-see-more {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  color: #7dffaf;
  cursor: pointer;
  transition: all 0.4s;
}
.slider-card .content .btn-see-more:hover {
  text-decoration: underline;
  color: rgb(81, 226, 136);
}

.slider-item {
  margin: 0 10px;
  padding-left: 0px !important;
}

/* Styling the default Slick dots */

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style-type: none;
  transform: translateY(32px);
}
.slick-dots li {
  margin: 0 8px !important;
  width: auto !important;
  height: auto !important;
}
.slick-dots button {
  outline: none;
  display: block;
  width: 14px !important;
  height: 14px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #344054 !important;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background: #7dffaf !important;
}

@media screen and (max-width: 1200px) {
  #case-study section {
    margin-left: 4%;
  }
}

@media screen and (max-width: 1024px) {
  #case-study #header h1 {
    font-size: 58px;
  }
  .slider-header h2 {
    font-size: 32px;
  }
  .slider-header .btn-live {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }

  .slick-dots li {
    margin: 0 8px !important;
  }
  .slider-card {
    max-width: 370px;
  }
}

@media screen and (max-width: 768px) {
  #case-study #header {
    display: none;
  }
  .gradiant-bg {
    display: none;
  }
  .slider-header h2 {
    font-size: 18px;
  }
  .slider-header .btn-live {
    width: 91px;
    height: 32px;
    font-size: 14px;
  }

  .slick-dots li {
    margin: 0 8px !important;
  }
  .slider-card {
    max-width: 370px;
  }
  #case-study section {
    margin-left: 20px;
  }

  .slider-card {
    max-width: 247px;
    height: 350px;
    padding: 12px;
  }
  .slider-card .image img {
    height: 155px;
  }

  .slider-card .content h4 {
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
  }

  .slider-card .content p,
  .slider-card .content .btn-see-more {
    font-size: 14px;
    line-height: 22px;
  }
}

/*=====  End of Case Study Page  ======*/
